decorator==4.1.2
Django==1.11.6
django-crispy-forms==1.7.0
django-rest-framework-mongoengine==3.3.1
djangorestframework==3.7.1
mysqlclient==1.3.12
networkx==2.0
#pygraphviz==1.3.1
pytz==2017.2
git+https://github.com/smartshark/pycoSHARK.git@1.0.10#egg=pycoshark-1.0.10
git+https://github.com/smartshark/mynbouSHARK.git#egg=mynbouSHARK-0.1.0
django-cors-headers==2.1.0
blinker==1.4
requests
scikit-learn
pandas
scipy
django-filter
sphinx
sphinx-rtd-theme
# used for DRF api docs
coreapi
markdown
pygments
# used for the workers and vs
pika
gensim
nltk
